.button {
  font-size: 30px;
  padding: 10px;
  background-color: lch(30 20 50);
  cursor: pointer;
  display: inline-block;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
